In [3]:
import pandas as pd
import numpy as np

In [7]:
TICS_2010 = pd.read_csv("TICS/TICS_valido/Acceso_internet_CCAA_2019.csv", sep =';')
TICS_2010.iloc[0:10] 
TICS_2010.rename(columns = {'Total': 'Total_2019'}) 


# Solucionar el tema de los acentos. No los coge bien al importar el archivo csv. cambiar previamente en el archivo. Guardar como y elegir la opción de que me lo guarde con formato 'csv utf-8 (delimitado por comas)'

,Comunidades y Ciudades Autónomas,Forma de conexión,Total_2019
0,Total nacional,Total de viviendas que disponen de acceso a In...,15.042.754
1,Total nacional,Viviendas con conexión de banda ancha,"99,7"
2,Total nacional,"Conexión de banda ancha por ADSL, red de cable...","85,2"
3,Total nacional,Conexión móvil de banda ancha a través de un d...,"83,9"
4,Andalucía,Total de viviendas que disponen de acceso a In...,2.577.826
...,...,...,...
75,Ceuta,Conexión móvil de banda ancha a través de un d...,91
76,Melilla,Total de viviendas que disponen de acceso a In...,27.330
77,Melilla,Viviendas con conexión de banda ancha,100
78,Melilla,"Conexión de banda ancha por ADSL, red de cable...","80,1"
79,Melilla,Conexión móvil de banda ancha a través de un d...,"91,1"

In [14]:
# colocar una columna en la que aparezcan los años

TICS_2010["Años"] = np.nan
TICS_2010 = TICS_2010.fillna({'Años':'2010'})

# ver como automatizarlo con una función

def colocar_año (df, año):
    df["Años"] = np.nan
    df = df.fillna({'Años':'año'})  # DA ERROR

    return df