# 06 - Combining datasets

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [11]:
first = [random.randint(1,4) for _ in range(100)]
second = [random.randint(1,3) for _ in range(100)]
third = [random.randint(10.000,30.000) for _ in range(100)]

In [12]:
first

[2,
 1,
 3,
 2,
 1,
 2,
 4,
 4,
 2,
 3,
 1,
 4,
 3,
 2,
 2,
 4,
 2,
 3,
 1,
 1,
 2,
 4,
 1,
 4,
 4,
 2,
 3,
 1,
 1,
 2,
 1,
 4,
 3,
 2,
 4,
 1,
 4,
 2,
 4,
 1,
 1,
 4,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 3,
 4,
 1,
 1,
 1,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 2,
 2,
 2,
 3,
 2,
 2,
 1,
 3,
 4,
 4,
 1,
 1,
 1,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 1,
 3,
 1,
 2,
 1,
 2,
 2,
 1,
 4,
 4,
 4,
 1,
 4,
 4,
 4,
 2]

### Step 3. Let's create a DataFrame by joinning the Series by column

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299