In [23]:
import pandas as pd
import os, sys
import json
import pymysql

In [5]:
Resultados_modelos = pd.DataFrame()

In [ ]:
models_comparison = pd.DataFrame({'Model': ['Kmeans', 'Dbscan','LinearRegression', 'PolynomialFeatures','SVR','LogisticRegression','KNeighborsClassifier','SVC','DecisionTreeRegressor','RandomForestRegressor','DecisionTreeClassifier','RandomForestClassifier','Red neuronal'],
'Parameter' : ['n_cluster=3,pca=4','eps=19', 'min_samples=2','n_job=-1', 'degree=2','kernel=rbf, C=100, gamma=0.1, epsilon=.1','max_iter','n_neighbors','Kernel_C_gamma','max_depth','n_estimators_max_depth','None','n_splits_n_repeats','Dense_(activation_input_shape)'],
'Recall':['None', 'None','None', 'None','None', 'None','None','LogisticRegression','KNeighborsClassifier','SVC','DecisionTreeRegressor','RandomForestRegressor','RandomForestClassifier','DecisionTreeClassifier','Red neuronal'], 
'Score':['0.3', '0.0125','21.24', '0.15','0.97','LogisticRegression','KNeighborsClassifier','SVC','DecisionTreeRegressor','RandomForestRegressor','RandomForestClassifier','DecisionTreeClassifier','Red neuronal'],
'MAE':['None', 'None','0.33', '0.38','0.01','LogisticRegression','KNeighborsClassifier','SVC','DecisionTreeRegressor','RandomForestRegressor','RandomForestClassifier','DecisionTreeClassifier','Red neuronal'],
'Accuracy': ['None','None','None', 'None','None','LogisticRegression','KNeighborsClassifier','SVC','DecisionTreeRegressor','RandomForestRegressor','RandomForestClassifier','DecisionTreeClassifier','Red neuronal']})

In [ ]:
pd.read_csv('../data/Bases_trabajo/models_comparison.csv')

In [ ]:
models_comparison.to_csv ('../data/Bases_trabajo/models_comparison_1.csv')

In [24]:
# Resultados_modelos_1 = pd.DataFrame()

In [25]:
# models_comparaison_1 = pd.DataFrame({'Model': ['Kmeans', 'Dbscan'],
'Parameter' : ['n_cluster=3,pca=4','eps=19'],
'Recall':['None', 'None']})

In [38]:
# pd.read_csv('../data/Bases_trabajo/models_comparaison_1.csv')

   Unnamed: 0   Model          Parameter Recall
0           0  Kmeans  n_cluster=3,pca=4   None
1           1  Dbscan             eps=19   None

In [26]:
# models_comparaison_1.to_csv ('../data/Bases_trabajo/models_comparaison_1.csv')

In [27]:
# datos para conectarme a MySQL

#"IP_DNS": "consciencesai.com",
#   "PORT": 30001,
#   "USER": Vuestro DNI (letra/s en min√∫scula),
#   "PASSWORD": el id de vuestro correo,
#   "BD_NAME":  el USER pero con "_ds_april_2021_db"al final

In [39]:
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool

class MySQL:

    def __init__(self, IP_DNS, USER, PASSWORD, BD_NAME, PORT):
        self.IP_DNS = "consciencesai.com"
        self.USER = "13297422h"
        self.PASSWORD = "jorginagc"
        self.BD_NAME = "13297422h_ds_april_2021_db"
        self.PORT = 30001
        self.SQL_ALCHEMY = 'mysql+pymysql://' + self.USER + ':' + self.PASSWORD + '@' + self.IP_DNS + ':' + str(self.PORT) + '/' + self.BD_NAME
        
    def connect(self):
        # Open database connection
        self.db = pymysql.connect(host=self.IP_DNS,
                                  user=self.USER, 
                                  password=self.PASSWORD, 
                                  database=self.BD_NAME, 
                                  port=self.PORT)
        # prepare a cursor object using cursor() method
        self.cursor = self.db.cursor()
        print("Connected to MySQL server [" + self.BD_NAME + "]")
        return self.db

    def close(self):
        # disconnect from server
        self.db.close()
        print("Close connection with MySQL server [" + self.BD_NAME + "]")
    
    def execute_interactive_sql(self, sql, delete=False):
        """ NO SELECT """
        result = 0
        try:
            # Execute the SQL command
            self.cursor.execute(sql)
            # Commit your changes in the database
            self.db.commit()
            print("Executed \n\n" + str(sql) + "\n\n successfully")
            result = 1
        except Exception as error:
            print(error)
            # Rollback in case there is any error
            self.db.rollback()
        return result
        
    def execute_get_sql(self, sql):
        """SELECT"""
        results = None
        print("Executing:\n", sql)
        try:
            # Execute the SQL command
            self.cursor.execute(sql)
            # Fetch all the rows in a list of lists.
            results = self.cursor.fetchall()
        except Exception as error:
            print(error)
            print ("Error: unable to fetch data")
        
        return results

    def create_engine(self):
        engine = create_engine(self.SQL_ALCHEMY, poolclass=NullPool)
        conn = engine.connect()
        print("Connected to MySQL server [" + self.BD_NAME + "]")
        return conn, engine


    def execute_engine(self, conn, sql):
        result = 0
        try:
            result = conn.execute(sql).fetchall()
            print("Executed \n\n" + str(sql) + "\n\n successfully")
            
        except Exception as error:
            print(error)
        return result

    def close_engine(self, conn, engine):
        conn.close()
        engine.dispose()
        print("Close connection with MySQL server [" + self.BD_NAME + "]")

    def generate_insert_into_people_sql(self, to_insert):
        """
        This must be modified according to the table structure
        """
        nombre = to_insert[0]
        apellidos = to_insert[1]
        direccion = to_insert[2]
        edad = to_insert[3]
        nota = to_insert[4]
        
        sql = """INSERT INTO people
            (MOMENTO, NOMBRE, APELLIDOS, DIRECCION, EDAD, NOTA)
            VALUES
            (NOW(), '""" + nombre + """', '""" + apellidos + """', '""" + direccion + """', '""" + edad + """', '""" + nota + """')"""

        sql = sql.replace("\n", "").replace("            ", " ")
        return sql

In [40]:
mysql_db = MySQL(IP_DNS="consciencesai.com", USER="13297422h", PASSWORD="jorginagc", BD_NAME="13297422h_ds_april_2021_db", PORT=30001)
conn = mysql_db.connect()

# select_sql = 'SELECT * FROM models_comparaison'
# select_result = mysql_db.execute_get_sql(sql=select_sql)

# df = pd.read_sql('SELECT * FROM models_comparaison', con=conn)
# df

Connected to MySQL server [13297422h_ds_april_2021_db]

In [ ]:
models_comparison = pd.read_csv('../data/Bases_trabajo/models_comparison.csv')

In [43]:
# Version 2
db_connection_str = mysql_db.SQL_ALCHEMY

#string = 'mysql+pymysql://user:password@98.76.54.33:20001/apr_july_2021_tb'
db_connection = create_engine(db_connection_str)

In [44]:
table_to_insert = "models_comparison"


# df_to_insert = df.drop(columns=["ID"])
# if_exists tiene dos posibilidades: 
to_append = "append"
to_replace = "replace"

try:
    frame_sql = models_comparison.to_sql(name=table_to_insert, con=db_connection, if_exists="replace", index=False)
    print("Success")
except Exception as error:
    print(error)

df = pd.read_sql("select * from models_comparison", con=db_connection)
df

   Unnamed: 0   Model          Parameter Recall
0           0  Kmeans  n_cluster=3,pca=4   None
1           1  Dbscan             eps=19   None

In [41]:
# models_comparaison_1 = pd.read_csv('../data/Bases_trabajo/models_comparaison_1.csv')

In [42]:
models_comparaison_1

   Unnamed: 0   Model          Parameter Recall
0           0  Kmeans  n_cluster=3,pca=4   None
1           1  Dbscan             eps=19   None

In [43]:
# Version 2
db_connection_str = mysql_db.SQL_ALCHEMY

#string = 'mysql+pymysql://user:password@98.76.54.33:20001/apr_july_2021_tb'
db_connection = create_engine(db_connection_str)

In [44]:
table_to_insert = "models_comparison"


# df_to_insert = df.drop(columns=["ID"])
# if_exists tiene dos posibilidades: 
to_append = "append"
to_replace = "replace"

try:
    frame_sql = models_comparison_1.to_sql(name=table_to_insert, con=db_connection, if_exists="replace", index=False)
    print("Success")
except Exception as error:
    print(error)

df = pd.read_sql("select * from models_comparison", con=db_connection)
df

Success

   Unnamed: 0   Model          Parameter Recall
0           0  Kmeans  n_cluster=3,pca=4   None
1           1  Dbscan             eps=19   None

In [31]:
# models_comparaison = pd.read_csv('../data/Bases_trabajo/models_comparaison.csv')

In [35]:
select_sql = 'SELECT * FROM models_comparaison_1.csv'
select_result = mysql_db.execute_get_sql(sql=select_sql)

Executing:
 SELECT * FROM models_comparaison_1.csv
(1142, "SELECT command denied to user '13297422h'@'87.222.117.122' for table 'csv'")
Error: unable to fetch data

In [33]:
# select_sql = 'SELECT * FROM models_comparaison'
# select_result = mysql_db.execute_get_sql(sql=select_sql)

In [34]:
df = pd.read_sql('SELECT * FROM models_comparaison_1', con=conn)
df

DatabaseError: Execution failed on sql 'SELECT * FROM models_comparaison_1': (1146, "Table '13297422h_ds_april_2021_db.models_comparaison_1' doesn't exist")

In [ ]:
# df = pd.read_sql('SELECT * FROM models_comparaison', con=conn)
# df

,Model,Parameter,Recall,Score,MAE,Accuracy
0,LinearRegression,n_job,None,LinearRegression,LinearRegression,LinearRegression
1,PolynomialFeatures,degree,None,PolynomialFeatures,PolynomialFeatures,PolynomialFeatures
2,SVR,Kernel_C_gamma_epsilon,None,SVR,SVR,SVR
3,LogisticRegression,max_iter,LogisticRegression,LogisticRegression,LogisticRegression,LogisticRegression
4,KNeighborsClassifier,n_neighbors,KNeighborsClassifier,KNeighborsClassifier,KNeighborsClassifier,KNeighborsClassifier
5,SVC,Kernel_C_gamma,SVC,SVC,SVC,SVC
6,max_depth,DecisionTreeRegressor,DecisionTreeRegressor,DecisionTreeRegressor,DecisionTreeRegressor,DecisionTreeRegressor
7,n_estimators_max_depth,RandomForestRegressor,RandomForestRegressor,RandomForestRegressor,RandomForestRegressor,RandomForestRegressor
8,RandomForestClassifier,n_splits_n_repeats,RandomForestClassifier,RandomForestClassifier,RandomForestClassifier,RandomForestClassifier
9,DecisionTreeClassifier,None,DecisionTreeClassifier,DecisionTreeClassifier,DecisionTreeClassifier,DecisionTreeClassifier
10,Red neuronal,Dense_(activation_input_shape),Red neuronal,Red neuronal,Red neuronal,Red neuronal

In [ ]:
# mysql_db = MySQL(IP_DNS="consciencesai.com", USER="13297422h", PASSWORD="jorginagc", BD_NAME="13297422h_ds_april_2021_db", PORT=30001)
# conn,engine = mysql_db.create_engine()

In [ ]:
# models_comparaison = pd.read_csv('../data/Bases_trabajo/models_comparaison.csv')

In [ ]:
 #models_comparaison.to_sql (name = 'models_comparaison.csv', con= conn, if_exists='fail', index = False)

In [ ]:
# select_sql = 'SELECT * FROM models_comparaison' 
#resultado = mysql_db.execute_engine(conn, select_sql)

# resultado

In [ ]:
# df = pd.read_sql('SELECT * FROM models_comparaison_1', con=conn)
# df

In [ ]:
mysql_db.close_engine(conn, engine)

NameError: name 'engine' is not defined