In [1]:
import pandas as pd
import numpy as np

In [2]:
ENS_2017 = pd.read_csv("../data/Bases_originales/ENS_2017_Adultos_1.csv", sep =';')

C:\Users\ggarr\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (149,151,152) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
import sys, os
path = os.getcwd()
k = os.path.dirname(path)
k = k + os.sep + "src"
sys.path.append(k)

In [8]:
import utils.Data_wrangling as dw
col = ['E1_1', 'E4']

missing_cualitativas = dw.missing(ENS_2017, col=col, 8,9)
missing_cualitativas

AttributeError: 'Series' object has no attribute '_replace_columnwise'

In [2]:
ENS_2017_C= pd.read_csv("../data/Bases_trabajo/ENS_2017_C.csv", sep =',')

In [7]:
variables = ['CCAA', 'Sexo']
for i in variables:
    Cluster_i = pd.crosstab(index =ENS_2017_C['Clusters'],columns =ENS_2017_C[i]).apply(lambda r: r/r.sum() *100,axis=0)
    print(Cluster_i)

CCAA             1          2          3      4      5      6          7   \
Clusters
0         36.729131   0.000000   0.000000  100.0    0.0    0.0  20.823621
1         23.236797  85.933014  34.326579    0.0  100.0  100.0  62.781663
2         40.034072  14.066986  65.673421    0.0    0.0    0.0  16.394716

CCAA             8          9          10     11         12     13     14  \
Clusters
0         56.344277  84.976725  53.194975  100.0  44.269663    0.0    0.0
1         31.233363   9.691071  46.805025    0.0  32.434457    0.0    0.0
2         12.422360   5.332205   0.000000    0.0  23.295880  100.0  100.0

CCAA         15         16     17     18     19
Clusters
0           0.0  14.792503    0.0    0.0    0.0
1           0.0  49.732262    0.0  100.0  100.0
2         100.0  35.475234  100.0    0.0    0.0
Sexo              1          2
Clusters
0         33.374233  32.927805
1         33.544125  33.528093
2         33.081642  33.544101

In [13]:
variables = ['Edad', 'Peso(Kg)']

for i in variables:
    Cluster_i = ENS_2017_C.groupby(['Clusters'])[i].describe()

Cluster_i

           count       mean        std   min   25%   50%   75%    max
Clusters
0         7650.0  72.348366  14.543179  25.0  62.0  71.0  80.0  150.0
1         7743.0  73.048302  14.900063  26.0  62.0  71.0  82.0  180.0
2         7696.0  72.264683  14.475001  36.0  62.0  71.0  80.0  155.0