### Ejercicio 1

A partir de la API de Pokemon, se pide generar un DataFrame como el de la imagen con las columnas: 

- **"height","id","order","weight","types"**

### Ejercicio 2

¿Has visto que dentro del DataFrame la columna "types" hay diccionarios? Se pide agregar, por cada pokemon, las columnas necesarias al DataFrame para albergar toda la información de "types" (solo las keys)![](df_pk.PNG)

In [2]:
import requests
import pandas as pd
from pandas.io.json import json_normalize
import json

In [3]:
# pasamos a json la url de pokemon

url = 'https://pokeapi.co/api/v2/pokemon'
poke_json = requests.get(url).json()
poke_json

{'count': 1118,
 'next': 'https://pokeapi.co/api/v2/pokemon?offset=20&limit=20',
 'previous': None,
 'results': [{'name': 'bulbasaur',
   'url': 'https://pokeapi.co/api/v2/pokemon/1/'},
  {'name': 'ivysaur', 'url': 'https://pokeapi.co/api/v2/pokemon/2/'},
  {'name': 'venusaur', 'url': 'https://pokeapi.co/api/v2/pokemon/3/'},
  {'name': 'charmander', 'url': 'https://pokeapi.co/api/v2/pokemon/4/'},
  {'name': 'charmeleon', 'url': 'https://pokeapi.co/api/v2/pokemon/5/'},
  {'name': 'charizard', 'url': 'https://pokeapi.co/api/v2/pokemon/6/'},
  {'name': 'squirtle', 'url': 'https://pokeapi.co/api/v2/pokemon/7/'},
  {'name': 'wartortle', 'url': 'https://pokeapi.co/api/v2/pokemon/8/'},
  {'name': 'blastoise', 'url': 'https://pokeapi.co/api/v2/pokemon/9/'},
  {'name': 'caterpie', 'url': 'https://pokeapi.co/api/v2/pokemon/10/'},
  {'name': 'metapod', 'url': 'https://pokeapi.co/api/v2/pokemon/11/'},
  {'name': 'butterfree', 'url': 'https://pokeapi.co/api/v2/pokemon/12/'},
  {'name': 'weedle', 'url': 'https://pokeapi.co/api/v2/pokemon/13/'},
  {'name': 'kakuna', 'url': 'https://pokeapi.co/api/v2/pokemon/14/'},
  {'name': 'beedrill', 'url': 'https://pokeapi.co/api/v2/pokemon/15/'},
  {'name': 'pidgey', 'url': 'https://pokeapi.co/api/v2/pokemon/16/'},
  {'name': 'pidgeotto', 'url': 'https://pokeapi.co/api/v2/pokemon/17/'},
  {'name': 'pidgeot', 'url': 'https://pokeapi.co/api/v2/pokemon/18/'},
  {'name': 'rattata', 'url': 'https://pokeapi.co/api/v2/pokemon/19/'},
  {'name': 'raticate', 'url': 'https://pokeapi.co/api/v2/pokemon/20/'}]}

In [4]:
# creamos una lista con todos los diccionarios de la columna results
pokemon = []

import time
while poke_json['next'] != None:
    pokemon.extend(poke_json['results'])
    next_url = poke_json['next']
    poke_json = requests.get(next_url).json()
pokemon.extend(poke_json['results'])

In [15]:
# pasamos a data Frame los diccionarios de la columna results

pokemon_1= pd.DataFrame(pokemon)
pokemon_1

                            name                                       url
0                      bulbasaur      https://pokeapi.co/api/v2/pokemon/1/
1                        ivysaur      https://pokeapi.co/api/v2/pokemon/2/
2                       venusaur      https://pokeapi.co/api/v2/pokemon/3/
3                     charmander      https://pokeapi.co/api/v2/pokemon/4/
4                     charmeleon      https://pokeapi.co/api/v2/pokemon/5/
...                          ...                                       ...
1113              duraludon-gmax  https://pokeapi.co/api/v2/pokemon/10216/
1114         eternatus-eternamax  https://pokeapi.co/api/v2/pokemon/10217/
1115  urshifu-single-strike-gmax  https://pokeapi.co/api/v2/pokemon/10218/
1116   urshifu-rapid-strike-gmax  https://pokeapi.co/api/v2/pokemon/10219/
1117     toxtricity-low-key-gmax  https://pokeapi.co/api/v2/pokemon/10220/

[1118 rows x 2 columns]

In [16]:
# Seleccionamos las 4 primeras filas del Data Frame
pokemon_2 = pokemon_1.iloc[ :5,]
pokemon_2

         name                                   url
0   bulbasaur  https://pokeapi.co/api/v2/pokemon/1/
1     ivysaur  https://pokeapi.co/api/v2/pokemon/2/
2    venusaur  https://pokeapi.co/api/v2/pokemon/3/
3  charmander  https://pokeapi.co/api/v2/pokemon/4/
4  charmeleon  https://pokeapi.co/api/v2/pokemon/5/

In [17]:
B_json = requests.get(url='https://pokeapi.co/api/v2/pokemon/1/').json()

In [18]:
I_json = requests.get(url='https://pokeapi.co/api/v2/pokemon/2/').json()

In [19]:
V_json = requests.get(url='https://pokeapi.co/api/v2/pokemon/3/').json()

In [20]:
CH_json = requests.get(url='https://pokeapi.co/api/v2/pokemon/4/').json()

In [21]:
CHeo_json = requests.get(url='https://pokeapi.co/api/v2/pokemon/5/').json()

In [22]:
# leemos las claves del diccionario json de Bulbasaur
B_json.keys()

dict_keys(['abilities', 'base_experience', 'forms', 'game_indices', 'height', 'held_items', 'id', 'is_default', 'location_area_encounters', 'moves', 'name', 'order', 'past_types', 'species', 'sprites', 'stats', 'types', 'weight'])

In [23]:
si = ['height', 'id', 'order', 'types', 'weight']

In [24]:
B_json_copy = B_json.copy()

In [25]:
I_json_copy = I_json.copy()

In [26]:
V_json_copy = V_json.copy()

In [27]:
CH_json_copy = CH_json.copy()

In [28]:
CHeo_json_copy = CHeo_json.copy()

In [29]:
for key in B_json_copy.keys():
    if key not in si:
        B_json.pop(key, None)

In [30]:
for key in I_json_copy.keys():
    if key not in si:
        I_json.pop(key, None)

In [36]:
for key in V_json_copy.keys():
    if key not in si:
        V_json.pop(key, None)

In [31]:
for key in CH_json_copy.keys():
    if key not in si:
        CH_json.pop(key, None)

In [32]:
for key in CHeo_json_copy.keys():
    if key not in si:
        CHeo_json.pop(key, None)

In [33]:
B_json.keys()

dict_keys(['height', 'id', 'order', 'types', 'weight'])

In [34]:
I_json.keys()

dict_keys(['height', 'id', 'order', 'types', 'weight'])

In [37]:
V_json.keys()

dict_keys(['height', 'id', 'order', 'types', 'weight'])

In [38]:
CH_json.keys()

dict_keys(['height', 'id', 'order', 'types', 'weight'])

In [39]:
CHeo_json.keys()

dict_keys(['height', 'id', 'order', 'types', 'weight'])

In [25]:
B_json

{'height': 7,
 'id': 1,
 'order': 1,
 'types': [{'slot': 1,
   'type': {'name': 'grass', 'url': 'https://pokeapi.co/api/v2/type/12/'}},
  {'slot': 2,
   'type': {'name': 'poison', 'url': 'https://pokeapi.co/api/v2/type/4/'}}],
 'weight': 69}

In [40]:
Bulbasaur = pd.DataFrame(B_json)
Bulbasaur = Bulbasaur.iloc[ :1,]
Bulbasaur

,height,id,order,types,weight
0,7,1,1,"{'slot': 1, 'type': {'name': 'grass', 'url': '...",69

In [62]:
Bulbasaur=Bulbasaur.assign(name= 'bulbasaur')
Bulbasaur

,height,id,order,types,weight,name
0,7,1,1,"{'slot': 1, 'type': {'name': 'grass', 'url': '...",69,bulbasaur

In [41]:
Ivysaur = pd.DataFrame(I_json)
Ivysaur = Ivysaur.iloc[1:2,]
Ivysaur

,height,id,order,types,weight
1,10,2,2,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",130

In [42]:
Ivysaur=Ivysaur.assign(name= 'ivysaur')
Ivysaur

,height,id,order,types,weight,name
1,10,2,2,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",130,ivysaur

In [43]:
Venusaur = pd.DataFrame(V_json)
Venusaur = Venusaur.iloc[1:2,]
Venusaur

,height,id,order,types,weight
1,20,3,3,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",1000

In [44]:
Venusaur=Venusaur.assign(name= 'venusaur')
Venusaur

,height,id,order,types,weight,name
1,20,3,3,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",1000,venusaur

In [45]:
Charmander = pd.DataFrame(CH_json)
Charmander

,height,id,order,types,weight
0,6,4,5,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",85

In [53]:
Charmander=Charmander.assign(name= 'charmander')
Charmander

,height,id,order,types,weight,name
0,6,4,5,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",85,charmander

In [47]:
Charmeleon = pd.DataFrame(CHeo_json)
Charmeleon

,height,id,order,types,weight
0,11,5,6,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",190

In [48]:
Charmeleon=Charmeleon.assign(name= 'charmeleon')
Charmeleon

,height,id,order,types,weight,name
0,11,5,6,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",190,charmeleon

In [63]:
pokemon_o = pd.concat([Bulbasaur, Ivysaur, Venusaur, Charmander, Charmeleon])
pokemon_o

,height,id,order,types,weight,name
0,7,1,1,"{'slot': 1, 'type': {'name': 'grass', 'url': '...",69,bulbasaur
1,10,2,2,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",130,ivysaur
1,20,3,3,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",1000,venusaur
0,6,4,5,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",85,charmander
0,11,5,6,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",190,charmeleon

In [65]:
# unir los data frame al de Pokemon_2
pokemon3 = pd.merge(pokemon_2, pokemon_o, on = ['name'])
pokemon3

,name,url,height,id,order,types,weight
0,bulbasaur,https://pokeapi.co/api/v2/pokemon/1/,7,1,1,"{'slot': 1, 'type': {'name': 'grass', 'url': '...",69
1,ivysaur,https://pokeapi.co/api/v2/pokemon/2/,10,2,2,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",130
2,venusaur,https://pokeapi.co/api/v2/pokemon/3/,20,3,3,"{'slot': 2, 'type': {'name': 'poison', 'url': ...",1000
3,charmander,https://pokeapi.co/api/v2/pokemon/4/,6,4,5,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",85
4,charmeleon,https://pokeapi.co/api/v2/pokemon/5/,11,5,6,"{'slot': 1, 'type': {'name': 'fire', 'url': 'h...",190