# SQL en Python
<img src=".\img\image-4.png" alt="EDA Path"
    title="A typical EDA path" width="600" height="300" />
## Conectamos con la base de datos

### Documentación de la librería SQLite3 que vamos a utilizar:
https://docs.python.org/3/library/sqlite3.html

In [9]:
# Importamos librerias
import pandas as pd
import sqlite3 as sql_query

In [10]:
# Conectamos con la base de datos chinook.db
connection = sql_query.connect('chinook.db')


# Obtenemos un cursor que utilizaremos para hacer las queries

In [15]:
# Creamos una Query sencilla
query = """

my_query = curs.execute(query)
my_query.fetchall()

def sql_query(query):
    curs.execute(query)
    datos.query = curs.fechall()
    col_mames = [description[0] for description in curs.description]

    return pd.DataFrame(datos_query, columns = col_names)
"""
sql_query(query)

p.read_sql_query(query,connection)

NameError: name 'curs' is not defined

In [ ]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas

In [ ]:
# Tambien podemos obtener el mismo resultado directamente con pandas

## Ya podemos comenzar con la práctica de chinook:
Antes de empezar a atacar una base de datos, tendremos que saber qué hay dentro, y para ello lo mejor es ver cómo es su **modelo de datos**

![imagen](./img/chinook_data_model.png)

### 1.	Facturas de Clientes de Brasil, Nombre del cliente, Id de factura, fecha de la factura y el país de la factura

### 2.	Facturas de Clientes de Brasil

### 3.	Muestra cada factura asociada a cada agente de ventas con su nombre completo.

### 4.	Para cada factura muestra el nombre del cliente, el país, el nombre del agente y el total

### 5.	Muestra cada artículo de la factura con el nombre de la canción.

### 6.	Muestra todas las canciones con su nombre, formato, álbum y género.

### 7.	Muestra cuántas canciones hay en cada playlist y el nombre de cada playlist.

In [18]:
query = """
select pl.Name as 'Playlist', Count (*) as 'Nº canciones'
from playlist pl
join playlist_track pt, playlist p on pt.PlaylistId = pl.PlaylistId
group by pl.PlaylistId
"""
pd.read_sql_query(query,connection)

DatabaseError: Execution failed on sql '
select pl.Name as 'Playlist', Count (*) as 'Nº canciones'
from playlist pl
join playlist_track pt, playlist p on pt.PlaylistId = pl.PlaylistId
group by pl.PlaylistId

': no such table: playlist

In [19]:
query ="""

select e.FirstName||' '|| e LastName as 'Employee', sum(Total) as 'Sales'
from employees e
join customers c on SupportRepId = EmployeeId
join invoices i on c.CustomerId = i.CustomerId
group by e.EmployeeId
"""

pd.read_sql_query(query,connection)

DatabaseError: Execution failed on sql '

select e.FirstName||' '|| e LastName as 'Employee', sum(Total) as 'Sales'
from employees e
join customers c on SupportRepId = EmployeeId
join invoices i on c.CustomerId = i.CustomerId
group by e.EmployeeId
': near "as": syntax error

### 8.	Muestra cuánto ha vendido cada empleado.

In [20]:
query = """
select e.FirstName||' '|| e LastName as 'Employee', sum(Total) as 'Sales'
from employees e
join customers c on e.employeeId = c.SupportRepId 
join invoices i on c.CustomerId = i.CustomerId
group by e.EmployeeId
"""

pd.read_sql_query(query,connection)

DatabaseError: Execution failed on sql '
select e.FirstName||' '|| e LastName as 'Employee', sum(Total) as 'Sales'
from employees e
join customers c on e.employeeId = c.SupportRepId
join invoices i on c.CustomerId = i.CustomerId
where i.invoicedate Like '2009%'
group by e.EmployeeId
': near "as": syntax error

### 9.	¿Quién ha sido el agente de ventas que más ha vendido en 2009?

In [ ]:
query = """
select e.FirstName||' '|| e LastName as 'Employee', sum(Total) as 'Sales'
from employees e
join customers c on e.employeeId = c.SupportRepId 
join invoices i on c.CustomerId = i.CustomerId
where i.invoicedate Like '2009%'
group by e.EmployeeId
order by sales DESC
Limit 1
"""
# orden por defecto es de mayor a menor
# limit. Que de solo el primero de los resultados
pd.read_sql_query(query,connection)

### 10.	¿Cuáles son los 3 grupos que más han vendido?

In [ ]:
query = """
select e.FirstName||' '|| e LastName as 'Employee', sum(Total) as 'Sales'
from employees e
join customers c on e.employeeId = c.SupportRepId 
join invoices i on c.CustomerId = i.CustomerId
where i.invoicedate Like '2009%'
group by e.ArtistId
order by sales 
Limit 3
"""
# 
# 
pd.read_sql_query(query,connection)

### 11. Muestra cuántas canciones de Rock hay en cada playlist

In [ ]:
query = """
select p.Name as 'Playlist', count(t.Name) as 'Magic'
from genres g
join tracks t on g.GenreId = t.GenreId 
join playlist_track pt on t.TrackId = pt.TrackId
join playlist p on pt.PlaylistId =p.PlaylistId
where g.name = 'Rock'
group by p.Name
"""
# Si la base de datos es correcta sería válida
# 
pd.read_sql_query(query,connection)

In [ ]:
# otra forma de hacerlo. Si la base de datos no es muy correcta es mejor agrupar con alguna variable con Id (claves primarias)

# utilizar por defecto para agrupar claves primarias (con Id)


query = """
select p.Name as 'Playlist', count(t.Name) as 'Magic'
from genres g
join tracks t on g.GenreId = t.GenreId 
join playlist_track pt on t.TrackId = pt.TrackId
join playlist p on pt.PlaylistId =p.PlaylistId
where g.name = 'Rock'
group by p.PlaylistId
"""


pd.read_sql_query(query,connection)

### 12. Muestra una tabla con todas canciones y su(s) Id de factura, hayan sido vendidas alguna vez o no.

In [ ]:
# se obtiene una tabla. Las que no han sido vendidas aparecerán con None
# Left no perdemos las entradas de las tabla tracks que no tienen equivalencia con invoices y en esos casos coloca None


query = """
select t.Name as 'Songs', ii.invoicesId as 'Fact.Num'
from tracks t
left join invoices_items ii on t.TrackId = ii.TrackId 
"""


pd.read_sql_query(query,connection)

### 13. ¿Cuántos artistas no tienen ningún album?